.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-weight: lighter;
  font-size: 36pt;

  .version {
    font-size: 12pt;
  }
}

.sticky {
  padding: 1em 1em 0.5em;
}

.searchAndSort {
  display: flex;
  flex-direction: row;
  align-items: center;

  i {
    background: #427493;
    padding: 0.5em;
    margin-left: 1em;
    border-radius: 0.3em;
    cursor: pointer;
  }

  i:hover {
    background: #5b98bd;
  }
}

.searchBox {
  border: none;
  border-radius: 0.3em;
  padding: 0.7em 1em;
  width: 100%;
  color: #0c2738;
}

.hits {
  font-size: smaller;
}

.songList {
  padding: 0 1em;
  overflow: auto;
  flex: 1;
}

.song {
  display: flex;
  flex-direction: row;
}

img.cover {
  height: 3em;
  width: 3em;
  margin-right: 1em;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {

}

.artist {
  font-size: smaller;
  color: #70b6e0;
}

.date {
  font-size: smaller;
  color: #427493;
}
